.logo__link-img {
  width: 60px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

body {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  min-width: 320px;
  overflow-x: hidden;
  color: #f0f0f0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 1rem;
  padding: .5rem;
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
}

.header {
  background-color: #333;
}

a:not(nav a) {
  color: yellow;
}

a:not(nav a):visited {
  color: lightskyblue;
}

nav {
  padding-right: 6rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: lightskyblue;
  text-decoration: none;
}

h1,
h2 {
  margin: 1rem 0 .5rem 0;
  font-size: 1.7rem;
  color: #f0a500;
  text-decoration: underline blue 2px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

ul li,
ol li {
  margin-bottom: 10px;
}

.addons ul, .offer ul {
  list-style: none;
}

.addons li::before {
  content: "• ";
  color: chartreuse;
}

p {
  margin-bottom: .6rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

.joke-extension {
  text-align: center;
}

.joke-extension button {
  margin: 2rem;
  padding: 1rem 1.5rem;
  font-size: 1.7rem;
  color: darkblue;
  background-color: yellow;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.joke-extension button:hover {
  background-color: gold;
}

#joke-display {
  margin-top: 1em;
  padding: 1em;
  background-color: #555;
  border-radius: 5px;
}

.download-buttons {
  margin-top: 2em;
}

.download-btn {
  display: block;
  margin: 1em;
  padding: 0.5em 1em;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.download-btn:hover {
  background-color: #0056b3;
}

section {
  margin-bottom: 40px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

button {
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #f0f0f0;
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
  padding: .8rem 2rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

footer p {
  margin: 5px 0;
}

footer a {
  color: #f0a500;
}

/*move transition*/
.moveInUp-enter-active {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }

  50% {
    opacity: 0.5;
    transform: translateX(30%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*dropdown*/
.flag {
  height: 35px;
  padding-top: 3px;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 1s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.dropdown {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin-left: auto;
  margin-right: 20px;
  display: block;
  color: black;
}

.dropdown__btn {
  border-radius: 3px;
  border: none;
}

.dropdown__menu {
  position: absolute;
  right: 0;
  background-color: #fff;
  padding: 2px;
  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.30), 0 14px 11px rgba(0, 0, 0, 0.22);
  z-index: 3;
}

.dropdown__item {
  background:
    linear-gradient(#1095c1 0 0) no-repeat calc(200% - var(--i, 0)*100%) 100% / 200% calc(100%*var(--i, 0) + .08em);
  transition: .3s calc(var(--i, 0)*.3s), background-position .3s calc(.3s - calc(var(--i, 0)*.3s));
  z-index: 3;
}

.dropdown__item.active {
  display: block;
  --p: 75%;
  background: linear-gradient(#1095c1 0 0) no-repeat calc(100% - var(--p, 0%)) 100% / 200% var(--p, 0.08em);
  color: blue;
}

.container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px 1.5rem 8rem 1.5rem;
  max-width: 1440px;
}

.logo__link {
  margin-left: 8px;
}

p span {
  font-weight: bold;
}

@media (min-width: 640px) {
  .container {
    padding: 0px 2rem 8rem 2rem;
  }
  
  header {
    min-height: 7.5rem;
    padding: 1.5rem;
    font-size: 1.5rem;
  }
  
  .dropdown {
    top: 2rem;
  }
}

@media (min-width: 980px) {
  .container {
    padding: 0px 10rem 8rem 10rem;
  }
  
  header {
    min-height: 6rem;
    margin-bottom: 3rem;
    padding: 1.5rem 6rem 0 8rem;
    font-size: 1.7rem;
  }
  
  .dropdown {
    top: 2rem;
    right: 3rem;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 100%;
    padding: 0 13rem 8rem 13rem;
  }
  
  nav ul {
    padding: 0 8rem;
  }
  
  header {
    min-height: 8rem;
    padding-top: 2rem;
    font-size: 2rem;
  }
  
  .dropdown {
    top: 2.5rem;
    right: 5rem;
  }
}